<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="saveBlog(f.value)">
      <div class="form-group">
        <label for="title">Blog Title</label>
        <input type="text" name="title" id="title" ngModel class="form-control" required>
      </div>
      <div class="form-group">
          <label for="content">Blog Content</label>
          <textarea type="textarea" rows="8" cols="80 "name="content" id="content" ngModel class="form-control" required></textarea>
      </div>
      <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input type="text" name="imageUrl" id="imageUrl" ngModel class="form-control" required>
      </div>
      <div class="form-group">
          <label for="tags">Tags( space separated )</label>
          <input type="text" name="tags" id="tags" ngModel class="form-control" required>
      </div>
      <div class="form-group">
          <label for="category">Blog Category</label>
          <select name="category" id="category" ngModel class="form-control" required>
            <option value="career">Career</option>
            <option value="employment">Employment</option>
            <option value="upskilling">Upskilling</option>
            <option value="management">Management</option>
          </select>
      </div>
      <button class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
