<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form class="ui form" action="/api/writer/new" method="POST">
        <div>
            <label>Title</label>
            <input type="text" name="title" placeholder="title">
        </div>
        <div>
            <label>Image</label>
            <input type="text" name="body" placeholder="image">
        </div>
        <input type="submit">
    </form>
</body>
</html>