<div class="container">
  <h1>Editor Home</h1>
</div>
<br />
<br />
<div class="panel panel-primary" *ngFor="let blog of blogPosts">

    <!-- Panel Title -->
    <div class="panel-heading">
      <h3 class="panel-title">{{ blog.title }}</h3>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">
      {{ blog.content }}
    </div>

    <!-- Panel Footer Start -->
    <div class="panel-footer footer">
        <div>
            <strong>Posted by: </strong>{{ blog.authorName }}
            <strong> on </strong>{{ blog.createdAt | date:'MMM dd, yyyy' }}    
        </div>
        <div>
          <!-- Edit Button -->
          <a [routerLink]="['/editor/edit-blog/', blog._id]" ><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
        </div>
      </div>
    <!-- Panel Footer End -->
  </div>
