<h1 class="page-header">Edit Blog</h1>

<!-- Custom Success/Erro Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <form #f="ngForm" (ngSubmit)="updateBlog(f.value)">
        <div class="form-group">
          <label for="title">Blog Title</label>
          <input type="text" #title="ngModel" name="title" id="title" [(ngModel)]="blog.title" class="form-control" required>
          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
            Title is required.
          </div>
        </div>
        <div class="form-group">
            <label for="content">Blog Content</label>
            <textarea type="textarea" rows="10" cols="80 "name="content" id="content" [(ngModel)]="blog.content" class="form-control" (input)="contentChange($event.target.value)" #content="ngModel" required></textarea>
            <div class="alert alert-danger" *ngIf="content.touched && content.invalid">
              Content is required.
            </div>
            <div class="alert alert-danger" *ngIf="(contentLength < 4 || contentLength > 150) && (content.dirty || content.touched)">
            Content length is  {{ contentLength }} words.</div>
        </div>
        <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" #imageUrl="ngModel" name="imageUrl" id="imageUrl" [(ngModel)]="blog.imageUrl" class="form-control" required url>
            <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
              <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
              <div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="tags">Tags( space separated )</label>
            <input type="text" #tags="ngModel" name="tags" id="tags" [(ngModel)]="blog.tags" class="form-control" required>
            <div class="alert alert-danger" *ngIf="tags.touched && tags.invalid">
              Tags are required.
            </div>
        </div>
        <div class="form-group">
            <label for="category">Blog Category</label>
            <select #category="ngModel" name="category" id="category" [(ngModel)]="blog.category" class="form-control" required>
              <!-- <option value="career">Career</option>
              <option value="employment">Employment</option>
              <option value="upskilling">Upskilling</option>
              <option value="management">Management</option> -->
              <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
            <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
              Category is required.
            </div>
        </div>
        <div class="form-group">
            <label for="status">Blog Status</label>
            <select #status="ngModel" name="status" id="status" [(ngModel)]="blog.status" class="form-control" required>
              <option value=0 >Draft</option>
              <option value=1>Pending Editing</option>
            </select>
            <div class="alert alert-danger" *ngIf="status.touched && status.invalid">
              Status is required.
            </div>
        </div>
        <button [disabled]="!f.valid" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>